body {
    font-family: 'Quicksand', helvetica, arial, sans-serif;
    /* background-color: #FBFAFB; */
    margin: 0em;
    height: 100%
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: #FBFAFB;
}

img {
    max-width: 100%;
    max-height: 100%;
}

h3 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    background-color: #426769;
    height: 5em;
    font-size: 1em;
    z-index: 1;
}

.container {
    margin: auto;
    width: 80%;
    /* padding: 10px; */
}

.navbar-left {
    color: #FBFAFB;
    float: left;
    height: 5em;
    vertical-align: center;
    /* min-width: 5em; */
}

.navbar-right {
    float: right;
    color: #FBFAFB;
    height: 3em;
    font-weight: normal;
}

.nav-list a {
    padding: 1em;
    font-size: 1em;
    display: inline-block;
}

.nav-list a:hover {
    color: #7EF9FF;
    text-shadow:0px 0px 30px #7EF9FF;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

.navbar-brand {
    display: inline-block;
    vertical-align: center;
    max-width: 5em;
}


.card {
    font-family: 'Georgia', serif;
    color: #444;
    background-color: #EBF3FF;
    border-radius: 5px;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    margin: 6em auto;
    padding: 34px;
    position: relative;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.2);
    overflow: hidden
}

/* Fade-in-up Animation
    Based on: https://codepen.io/themechills/pen/dMamgG */

@keyframes fadeIn {
    from {
        transform: translate3d(0, 40px, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    from {
        transform: translate3d(0, 40px, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;

}

.animatedFadeIn {
    opacity: 0;

}

.fadeIn {
    opacity: 0;
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
}

.card h1 {
    font-size: 6vw;
}

.card h2 {
    font-size: 4vw;
    margin: 1vw;
}

.card h3 { 
    font-size: 3vw;
}

.card p {
    font-size: 1.6vw;
    text-align: center;
}

#github-logo {
    max-width: 15%;
    max-height: 15%;
    filter: invert(26%) sepia(0%) saturate(1%) hue-rotate(151deg) brightness(99%) contrast(98%);
}



@media screen and (max-width: 700px) {
    .nav-list a { display: none;}
    .nav-list .menu-container {
        display: inline-block;
    }   
}

@media screen and (min-width: 700px) {
    #myDropdown {display: none;}
}

.menu-container {
    display: none;
    height: 50%;
    vertical-align: center;
    text-align: center;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #FBFAFB;
    margin: 6px 0;
    transition: 0.4s;
    pointer-events: none;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
-webkit-transform: rotate(45deg) translate(-8px, -8px);
transform: rotate(45deg) translate(-8px, -8px);
}

/* Dropdown Menu (Responsive) */
.dropdown {
    float: right;
    position: relative;
    /* display: inline-block; */
}

.dropdown-content {
    display: none;
    /* display: block; */
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 17px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show { 
    display : block;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}